<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Climatix configuration</title>
</head>
<body>
    {% include "clx_app_info.html" %}
    <br>
    <br>
    <form method="POST">
        {{ config_form.csrf_token }}
        <table style="width:500px; font-family: Calibri; background-color: lightgrey">
            <tr>
                <td>{{ config_form.addr.label }} : </td>
                <td>{{ config_form.addr }}</td>
            </tr>
            <tr>
                <td>{{ config_form.name.label }} : </td>
                <td>{{ config_form.name }}</td>
            </tr>
            <tr>
                <td>{{ config_form.pasw.label }} : </td>
                <td>{{ config_form.pasw }}</td>
            </tr>
            <tr>
                <td>{{ config_form.pin.label }} : </td>
                <td>{{ config_form.pin }}</td>
            </tr>
            <tr>
                <td>{{ config_form.path.label }} : </td>
                <td>{{ config_form.path }}</td>
            </tr>
            <tr>
                <td>{{ config_form.comt.label }} : </td>
                <td>{{ config_form.comt }}</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
        <br>

    </form>
</body>
</html>